<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>

<body>

    <header class="main-header">

        <div class="top-nav">

            <div class="logo-barra">

                <img src="images/logo-mercado-liebre.svg" class="logo" alt="Logo Mercado Liebre">

                <form action="" class="nav-formu">

                    <input type="text" name="" id="" placeholder="Marcas, productos, más">
                    <i class="fa-solid fa-magnifying-glass icon-search"></i>

                </form>

            </div class="logo-barra">

            <h2 class="txt-compra">

                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito

            </h2>

        </div>


        <a href="#" class="icon-burger">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="booton-nav">
            <ul class="left-list">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-list">
                <li>
                    <a href="register.html">Créa tu cuenta</a>
                    <i class="fa-solid fa-credit-card"></i>
                </li>
                <li>
                    <a href="login.html">Ingresá</a>
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </li>
                <li>
                    <a href="#">Mis Compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/" method="get">
            <input type="text" placeholder="Nombre de usuario" class="item-form" name="nombre-apellido" id="nombre-apellido">

            <input type="password" placeholder="Elegí tu contraseña" class="item-form" name="usuario" id="usuario">

            <button type="submit" class="item-form btn">Enviar</button>
        </form>
    </main>

    <footer>
        <section>

            <div>
                <i class="fa-solid fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>

            <div>
                <i class="fa-solid fa-gift"></i>
                <h2>Envío gratis desde $ 2.500 </h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>

            <div>
                <i class="fa-solid fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>
        </section>

        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>