/**----------------------------------------BANNER-----------------------------------------*/
.banner {
    width: 100%;
}

/**----------------------------------------MAIN-----------------------------------------*/
main {
    background-color: #ebebeb;
    width: 90%;
    margin: auto;
}

.container-productos {
    display: flex;
    flex-direction: column;
}

main section article {
    margin: 10px 0;
    width: 100%;
    background-color: #FFFFFF;
}

article:hover {
    .name-producto {
        display: block;
    }

    .box-descripcion i {
        transform: rotate(-90deg);
    }
    
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section img {
    width: 100%;
    padding: 10px;
}

main section h2 {
    font-size: 24px;
    color: #666;
    margin: 20px 0;
}

.box-descripcion {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: #FFFFFF;
    position: relative;
}

.box-descripcion i {
    color: #39b54a;
    border: solid 1px #39b54a;
    padding: 5px;
    border-radius: 50%;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 5px;
    transition: transform 0.3s ease-in-out;
}

.precio-descuento {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.precio {
    font-size: 18px;
    width: 30%;
}

.descuento {
    font-size: 16px;
    color: #39b54a;
    width: 70%;
}

.name-producto {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    display: none;
    margin-top: 5px;
}


@media (min-width: 768px) {

    /**-------------------------------------MAIN-------------------------------------*/
    main section,
    main section article {
        border: none;
    }

    .container-productos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    main section article {
        width: 40%;
        margin: 20px;
    }

    .precio {
        width: 40%;
    }

    .descuento {
        width: 60%;
    }
}


@media (min-width: 1200px) {

    /**-------------------------------------MAIN-------------------------------------*/

    main section article {
        width: 20%;
    } 

    .precio {
        width: 40%;
    }

    .descuento {
        width: 60%;
    }
}