* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

/**----------------------------------------MAIN-----------------------------------------*/
main {
    background-color: #ebebeb;
    padding: 0 30px;
    height: calc(100vh - 176px);
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

main form input {
    border: none;
    border-radius: 2px;
    padding: 40px 0;
}

main form input::placeholder {
    text-indent: 10px;
    font-size: 20px;
}

.item-form {
    margin: 20px 0;
}

.btn {
    background-color: #03264C;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    padding: 40px 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #0022AA;
}

/**----------------------------------------MEDIAS-----------------------------------------*/

@media (min-width: 768px) {

    /**-------------------------------------MAIN-------------------------------------*/
    main {
        height: calc(100vh - 164px);
    }

    main form {
        padding: 50px 60px;
    }

    #usuario {
        margin: 30px 0;
    }
}


@media (min-width: 1200px) {

    /**-------------------------------------MAIN-------------------------------------*/

    main form {
        max-width: 1200px;
        margin: auto;
    }

    .btn {
        font-size: 20px;
    }

}