* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

/**----------------------------------------MAIN-----------------------------------------*/
main {
    background-color: #ebebeb;
    padding: 0 30px;
}

main form {
    display: flex;
    flex-direction: column;
}

main form input {
    border: none;
    border-radius: 2px;
    padding: 5px 0;
    text-indent: 10px;
}

main form input::placeholder {
    text-indent: 10px;
}

main form input:valid {
    background-color: rgb(198, 227, 201);
}

main form input:invalid {
    background-color: rgb(227, 198, 198);
}

.item-form {
    margin: 20px 0;
}

.fecha-nac {
    display: flex;
    flex-direction: column;
}

.perfil-usuario {
    margin-top: 5px;
}

.perfil-usuario span{
    margin: 0 10px;
}

.intereses-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.intereses-container div {
    width: 200px;
    display: flex;
    margin: 4px 0;
}

.intereses-container input{
    margin: 0 20px;
}

.pass {
    display: flex;
    flex-direction: column;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn1, .btn2 {
    margin: 0 5px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #03264C;
    color: #FFFFFF;
    border: none;
}

.btn1:hover, .btn2:hover {
    background-color: #0022AA;
}

/**----------------------------------------MEDIAS-----------------------------------------*/

@media (min-width: 768px) {

}


@media (min-width: 1200px) {

}